<div style= "overflow:auto;">
    <div class="mat-elevation-z8">
        <mat-table[datasource]="listdata">
            <mat-header-row "matHeaderRowDef="displayedcolumns"></mat-header-row>
            <mat-row "matRowDef="let row; columns:displayedcolumns;"></mat-row>
            <ng-container matColumnDef=:"options">
        <mat-header-cell "matHeaderCellDef>options</mat-header-cell>
        <mat-cell "matCellDef="let row">
            <button mat-icon-button (click)="onEdit(row)">
                <mat-icon>launch</mat-icon>
            </button>
            <button mat-icon-button color="warn"(click)="onDelete(row.DepartmentID)">
<mat-icon>delete_outline</mat-icon>
          
</button>
        
    </mat-cell>
    </ng-container>
    <ng-container matColumnDef="DepartmentID">
        <mat-header-cell "matHeadercellDef="DepartmentID"></mat-header-cell>  
        <mat-header-cell "matcellDef="Let element">{{element.DepartmentID}}</mat-header-cell>  
    </ng-container>
    <ng-container matColumnDef="DepartmentName">
        <mat-header-cell "matHeadercellDef="DepartmentName"></mat-header-cell>  
        <mat-header-cell "matcellDef="Let element">{{element.DepartmentName}}</mat-header-cell>  
    </ng-container>
    </mat-table> 
    </div>
    </div>